extends layout

block navigation 
  div.main.container
    div.navbar
      div.navbar-inner
        a.brand(href='/dashboard') SLC App
        ul.nav
          li
            a(href='/students') Students
          li
            a(href='/schools') Schools
          li  
            a(href='/logout') Logout 
